.engineering {
    &__item {
        box-sizing: border-box;

        border: 1px solid $repair-card-border;

        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__p {
        margin-bottom: 104px;
    }

    &__button {
        margin-top: auto;
    }
}